<h1>
  EDIT
</h1>
<div class="moderate-content">
  <form>
    <div class="form-group">
      <label>Title</label>
      {{input type="text" class="form-control" value=model.title
      placeholder= "Add Item..."}}
    </div>
    <div class="form-group">
      <label>Description</label>
      {{textarea class="form-control" value=model.description
      placeholder="Description..."}}
    </div>

    <button {{action 'editItem' model.id}} class="btn btn-primary">Save</button>
    <button {{action 'completeItem' model.id}} class="btn btn-warning" id="btn-complete">Complete</button>
    <button {{action 'deleteItem' model.id}} class="btn btn-danger" id="btn-delete">Delete</button>

  </form>
</div>
