{{#if session.isAuthenticated}}
<h1>
  {{model.title}}
</h1>
<p class="stamp-count">
  <button {{action '' model.id}} class="btn btn-danger" id="btn-stampdown">-</button>
  {{model.stamps}}
  <button {{action '' model.id}} class="btn btn-primary" id="btn-stampup">+</button>
</p>
<div class="moderate-content">
  <form>
    <div class="form-group">
      <label>Member Name</label>
      {{input type="text" class="form-control" value=model.title
      placeholder= "Member Name..."}}
    </div>
    <div class="form-group">
      <label>Email</label>
      {{input type="text" class="form-control" value=model.email
      placeholder= "Email..."}}
    </div>
    <div class="form-group">
      <label>Override Stamp Count</label>
      {{input type="number" class="form-control" value=model.stamps
      placeholder= "Override Stamp Count..."}}
    </div>
    <div class="form-group">
      <label>Member Notes</label>
      {{textarea class="form-control" value=model.description
      placeholder="Member Notes..."}}
    </div>

    <button {{action 'editItem' model.id}} class="btn btn-primary">Save</button>
    <button {{action 'completeItem' model.id}} class="btn btn-warning" id="btn-complete">Complete</button>
    <button {{action 'deleteItem' model.id}} class="btn btn-danger" id="btn-delete">Delete</button>

  </form>
</div>
{{else}}
  <h1>
    {{model.title}}
  </h1>
  <p class="stamp-count">Current Points: {{model.stamps}}</p>
{{/if}}
