<h1>MEMBERS</h1>
<div class="todo-count">
  <strong>{{totalCount}}</strong> members
</div>
{{#if session.isAuthenticated}}
<div class="track-data">
  {{#each sortedItems as |members|}}
    <div class="well {{if members.complete 'complete'}}">
      <h4>{{#link-to 'edit' members.id}}{{members.title}}{{/link-to}}</h4>
    </div>
  {{/each}}
</div>
{{else}}
<div class="track-data">
  {{#each sortedItems as |members|}}
    <div class="well {{if members.complete 'complete'}}">
      <h4>{{members.title}}</h4>
    </div>
  {{/each}}
</div>
{{/if}}
