{{#if session.isAuthenticated}}
<h1>MODERATE</h1>
<div class="moderate-content">
  <form>
    <div class="form-group">
      <label>Title</label>
      {{input type="text" class="form-control" value=title
      placeholder= "Add Item..."}}
    </div>
    <div class="form-group">
      <label>Description</label>
      {{textarea class="form-control" value=description
      placeholder="Description..."}}
    </div>
    <button {{action 'addItem'}} class="btn btn-primary">Submit</button>
  </form>
</div>
{{else}}
  <h1>LOGIN</h1>
  {{input value=email placeholder="email address" type="email" class="login-fields"}}
  {{input type="password" value=password placeholder="password" class="login-fields"}}
  <button class="sign-in-button btn btn-primary" {{action "signIn" "password" email password}}>Sign in</button>
{{/if}}
