{{#if session.isAuthenticated}}
<h1>ADD MEMBER</h1>
<div class="moderate-content">
  <form>
    <div class="form-group">
      <label>Member Name</label>
      {{input type="text" class="form-control" value=title
      placeholder= "Member Name..."}}
    </div>
    <div class="form-group">
      <label>Email</label>
      {{input type="text" class="form-control" value=email
      placeholder= "Email..."}}
    </div>
    <div class="form-group">
      <label>Starting Stamps</label>
      {{input type="text" class="form-control" value=stamps
      placeholder= "Starting Stamps..."}}
    </div>
    <div class="form-group">
      <label>Member Notes</label>
      {{textarea class="form-control" value=description
      placeholder="Member Notes..."}}
    </div>
    <button {{action 'addItem'}} class="btn btn-primary">Submit</button>
  </form>
</div>
{{else}}
  <h1>LOGIN</h1>
  {{input value=email placeholder="email address" type="email" class="login-fields"}}
  {{input type="password" value=password placeholder="password" class="login-fields"}}
  <button class="sign-in-button btn btn-primary" {{action "signIn" "password" email password}}>Sign in</button>
{{/if}}
