{{#if session.isAuthenticated}}
  <h1>ADD USER</h1>
  Add a new Ambassador Club Administrator

  {{input value=email placeholder="email address" type="email" class="login-fields"}}
  {{input type="password" value=password placeholder="password" class="login-fields"}}
  <button class="sign-in-button btn btn-primary" {{action "addUser" email password}}>Sign in</button>
  {{else}}
    <h1>LOGIN</h1>
    {{input value=email placeholder="email address" type="email" class="login-fields"}}
    {{input type="password" value=password placeholder="password" class="login-fields"}}
    <button class="sign-in-button btn btn-primary" {{action "signIn" "password" email password}}>Add User</button>
{{/if}}
