{{#if session.isAuthenticated}}
<h1>TRACK</h1>
<div class="todo-count">
  <strong>{{completeCount}}</strong> of <strong>{{totalCount}}</strong> complete
</div>
<div class="track-data">
  {{#each sortedItems as |track|}}
    <div class="well {{if track.complete 'complete'}}">
      <h4>{{#link-to 'edit' track.id}}{{track.title}}{{/link-to}}</h4>
      <p>{{track.description}}</p>
    </div>
  {{/each}}
</div>
{{else}}
  <h1>LOGIN</h1>
  {{input value=email placeholder="email address" type="email" class="login-fields"}}
  {{input type="password" value=password placeholder="password" class="login-fields"}}
  <button class="sign-in-button btn btn-primary" {{action "signIn" "password" email password}}>Sign in</button>
{{/if}}
